.item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    margin: 10px;
}
.acoes-carrinho button{
    margin: 10px;

}
.acoes-carrinho{
    text-align: center;
    margin: 10pz;
}

.btn-confirmar{
    background-color: green;
    color: #fff;
}
.btn-cancelar{
    background-color: #ff3232;
    color:#fff;
}